
    <div class="row">
        <div class="col-md-5">
            <app-recipe-list
            (selectedRecipe) = "saveSelectedRecipe($event)"
            ></app-recipe-list>
        </div>
        <div class="col-md-5">
            <app-recipe-detail
            *ngIf="viewSelected; else infoText"
            [recipeDetails] = "viewSelected"
            ></app-recipe-detail>
            <ng-template #infoText>
                <h1>Selecty a recipe</h1>
            </ng-template>
        </div> 
    </div>